@import "./_variables.scss";

#header3 {

  position: relative;
  background-color: $mainBlue;
}

.header3 {
  padding: 7%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.header3-photoGrid {
  display: flex;
  flex-direction: row;
  margin: auto;
  // max-width: 40%;
}

.imageBlock-text {
  z-index: 1;
  position: absolute;
  font-family: $mainFont;
  color: $secondaryYellow;
  font-weight: bold;
  margin: 5%;
}

.photoGrid-column1 {
  width: 100%;
  font-size: 3rem;
}


.photoGrid-column2 {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.imageBlock-image {
  width: 100%;
  filter: brightness(0.7);
  transition: 0.3s;
}

.imageBlock-image:hover {
  filter: brightness(1);
}

.header3-textBlock {
  font-family: $mainFont;
  display: inline-block;
  color: $mainYellow;
  width: 100%;
}

#textBlock-body {
  display: none;
}

// #h3learnMore {
//   display: none;
// }

#textBlock-title {
  color: $mainPink;
  font-size: 4rem;
  margin-top: 1.5rem;
  text-align: right;
}


.textBlock-button-learnMore {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  font-family: $mainFont;
  color: $secondaryPink;
  font-style: italic;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 1rem;
  float: right;
  background: none;
  border: none;
}

.textBlock-button-learnMore:hover {
color: $mainPink;
transition: ease-in 0.1s;
}


.textBlock-button-learnMore:hover #learnMore-P2 {
  display: inline-block;
}

#textBlock-notVisibleBody {
  display: none;
}

.textBlock-button:active #textBlock-notVisibleBody {
display: inline-block;
}

#learnMore-P2 {
  margin-left: 1rem;
  display: none;
}

@media (min-width: 400px) {
  // .entireBlock {
  //   display: flex;
  //   flex-direction: column;
  // }
}

@media (min-width:550px) {
  .header3 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }
  

  .header3-textBlock {
    display: inline-block;
    color: $mainYellow;
    margin: auto;
    margin-right: 8%;
    min-width: 17rem;
    max-width: 20rem;
  }
  
  #textBlock-title {
    font-size: 3rem;
    text-align: right;
    vertical-align: center;
    margin-bottom: 1rem;
  }

  #textBlock-body{
    display: inline-block;
    text-align: right;
    font-size: 1.5rem;
  }

  .header3-photoGrid {
    min-width: 25rem;
  }

}

@media (min-width: 700px) {
  .header3-textBlock {
    min-width: 30rem;
    max-width: 40rem;
  }

#textBlock-title {
  font-size: 4rem;
}

  #textBlock-body {
    font-size: 1.7rem;
  }

  .header3-photoGrid {
    min-width: 30rem;
  }
  
}

@media (min-width: 1000px) {
  // #header3 {
  //   height: 100vh;
  // }
  
  // .entireBlock {
  //   padding: 5%;
  // }
  
  .header3-textBlock {
    min-width: 20rem;
    max-width: 30rem;
  }

  #textBlock-title {
    font-size: 4.5rem;
  }

  #textBlock-body {
    font-size: 2rem;
  }

  .header3-photoGrid {
    max-width: 65rem;
  }

}
