@import "./_variables.scss";

.header4 {
  background-color: $mainPink;
  position: relative;
  // margin-top: 1.5rem;
  text-align: center;
  padding: 3rem;
}

.textinrow {
  position: relative;
  margin: 2rem;
  font-family: $mainFont;
}
.place {
  font-size: 2.25rem;
  color: $mainBlue;
}

.description {
  font-size: 1.5rem;
  color: $mainYellow;
  margin: auto;
}

.image {
  position: relative;
  width: 90%;
  object-fit: cover;
}

@media (min-width: 400px) {
  .image {
    min-width: 17rem;
  }
  // .header4 {
  //   // margin-top: 2rem;
  //   height: 175rem;
  // }
}

@media (min-width: 700px) {
  // .header4 {
  //   // margin-top: 3rem;
  //   height: 100rem;
  // }
  .header4-pictures {
    display: flex;
    flex-direction: column;
  }
  .imagerow {
    display: flex;
    flex-direction: row;
    margin: 2rem;
  }
  .image {
    min-width: 30rem;
  }
  .textinrow {
    text-align: left;
    margin-left: 3rem;
  }
}

@media (min-width: 1000px) {
  .description {
    font-size: 2.5rem;
  }

  .place {
    font-size: 5rem;
    margin-bottom: 1rem;
  }

  .image {
    // width: 70%;
    min-width: 25%;
  }
}
